@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .paused{
    animation-play-state: paused;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    /* font-family: 'tas'; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.animate-loop-scroll {
  animation: slide 25s linear infinite;
}
.animate-shake {
  animation: shake 1s linear;
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
@keyframes shake {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(-15px, 0px) rotate(-5deg); }
  50% { transform: translate(15px, 0px) rotate(0deg); }
  75% { transform: translate(-10px, 0px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}
.topbar{
  position: relative;
  /* background-color: white; */
  /* height: 30px; */
  /* line-height: 30px; */
  /* padding: 0 100px 0 200px; */
  /* display:inline-block; */
}
.topbar::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px; 
  height: 100%;
  background-color: rgb(255, 255, 255); /* Adjust background color of the cut end */
  transform: skewX(35deg); /* Adjust angle of the cut end */
  transform-origin: bottom left;
}
@media only screen and (max-width: 768px) {
  .topbar {
    width: 100%;
  }
  .topbar::before{
   width: 0px;
    transform: skewX(0deg); /* Adjust angle of the cut end */
    transform-origin: bottom left;
  }
  .outer-circle {
  width: 105px;
  height: 105px;
}
  .inner-circle {
    height: 105px;
    width: 105px;
    /* animation: rotateCircle 3s linear infinite reverse; */
  }
}
.custom-navbar{
  background-color: white;
}
.feature-container{
  background-image: url("../public/Patt.png");
}
.no-background-image {
  background-color: white !important;
}


/* .sticky .expand {
  transform: translateY(-100%); 
} */

/* .sticky .expand {
  transform: translateY(100px); 
} */

/* Optional: Add a keyframe animation for additional smoothness */
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
  @keyframes rotateCircle {
    0% {
      transform: rotate(0);
    }

    25% {
      transform: rotate(90deg);
    }

    50% {
      transform: rotate(180deg);
    }

    75% {
      transform: rotate(270deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

.expand {
  animation: slideDown 1s ease-out;
}

/* .shining-border {
  border: double 1em transparent;
  border-width: 2.5px;
  border-style: solid;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  border-radius: 1rem;
  background-origin: border-box;
  background-clip: content-box, border-box;
} */
.shining-border {
  position: relative;
  border: 4px solid transparent;
  border-radius: 16px;
  background: linear-gradient(rgb(222, 250, 65), rgb(250, 250, 250));
  background-clip: padding-box;
  padding: 10px;
  /* just to show box-shadow still works fine */
  box-shadow: 0 3px 9px black, inset 0 0 9px white;
}

.shining-border::after {
  position: absolute;
  top: -4px; bottom: -4px;
  left: -4px; right: -4px;
  background: linear-gradient(red, blue);
  content: '';
  z-index: -1;
  border-radius: 16px;
}
.outer-circle {
  background-image: linear-gradient(#008acb, #ffff, #f79d1c);
  width: 305px;
  height: 305px;
  border-style: solid;
  border-color: transparent;
  border-radius: 50%;
  border-width: 0;
  animation: rotateCircle 3s linear infinite;
  padding: 2px;
  display: table;
  
}
  .inner-circle {
    background: #ffff;
    height: 305px;
    width: 305px;
    border-style: solid;
    border-color: transparent;
    border-radius: 50%;
    border-width: 3px;
    animation: rotateCircle 3s linear infinite reverse;
    display: table;
    text-align: center;
  }